

html{
    background-color: #444;
}

h2{
    font-family: Georgia;
    color: rgb(33, 92, 79);
    font-variant: small-caps;
    letter-spacing: 0.05em;
}

h3{
    font-size: 20px;
}

p{
    font-size: 18px;
}

a:link{
    color: #000;
    text-decoration: none;
}

a:visited{
    color: #000;
    text-decoration: none;
}

a:hover{
    color: #000;
    text-decoration: none;
}

a:active{
    color: #000;
    text-decoration: none;
}

.grid{
    background-color: #FFF;
    display: grid;
    grid-template-columns: 1fr 20% 5fr 1fr;
    grid-template-rows: 2fr repeat(4 1fr);
    width: 100%;
    height: auto;
    grid-gap: 10px;
    border-radius: 10px;
    box-sizing: border-box;
}

/*   Header section: Contains the title and top banner  */
.header{
    display: flex;
    width: 100%;
    height: 190px;
    border: 1px solid gray;
    border-radius: 5px;
    background-color: rgb(64, 156, 136);
    margin-top: 0;
    margin-right: 0;
    margin-bottom: 10px;
    padding-top: 30px;
    padding-bottom: 30px;
    justify-content: center;
    align-items: center;
    grid-column: 1 / span 4;
    box-sizing: border-box;
}

.title{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 25%;
    height: 80%;
    border: 2px solid white;
    border-radius: 10px;
    color: white;
    box-sizing: border-box;
    overflow: auto;
}

.title h1{
    padding: 0 0 0 0;
    margin: 5px 0 2px 0;
}

.title p{
    margin: 2px 0 5px 0;
    font-family: Arial;
}


/*  Sidebar section: Contains the sidebar with the photo and contact information  */
.sidebar{
    background-color: hsla(0, 5%, 29%, 0.164);
    height: 100%;
    width: 100%;
    grid-row: 2 / span 6;
    grid-column: 2;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    float: left;
    box-sizing: border-box;
    margin: auto;
}

.fas, .far, .fab{
    margin-right: 15px;
    display: block;
    float: left;
}

.sidebar .section{
    padding: 20px;
    padding-left: 30px;
}

.photo{
    padding: 30px 10px 30px 10px;
    text-align: center;
    overflow: auto;
}

.id-photo{
    height: 150px;
    width: 150px;
    padding: 0;
    border: 1px solid black;
    border-radius: 100%;
}


/*  Content section: Contains the information that is present in the resume  */
.content{
    grid-column: 3 / span 1;
    float: right;
    margin: 0 auto;
}

.content .section{
    padding: 10px 0 10px 20px;
    margin: 0;
    border-bottom: 3px solid rgb(64, 156, 136);
    word-spacing: 0.1em;
    letter-spacing: 0.01em;
}

.education, .experience{
    display: flex;
    flex-flow: column wrap;
}

.skills, .references{
    height: 250px;
    display: flex;
    flex-flow: column wrap;
    overflow: auto;
}

.skills h1{
    width: 100%;
}

.references div p{
    font-size: 1em;
    padding-right: 10px;
}

.fa-facebook-square{
    color: rgb(44, 115, 173);
}

.fa-snapchat{
    color: rgb(255, 255, 0);
}